[2020-02-15 21:17] jonbaer opened #1 "from ts import JNIClient"
Getting raise ImportError("Unable to find java class '%s'"%jname)
ImportError: Unable to find java class 'tests.JNIClient' ...

Do I need to use your fork of microrts?  The README points to use the official distro.

[2020-02-15 21:39] vwxyzjn commented on #1
Hi,

Did you download the microrts jar file?

[code]

[2020-02-15 22:07] jonbaer commented on #1
It looks like I need your client @ https://github.com/vwxyzjn/microrts/blob/master/src/tests/JNIClient.java

[2020-02-15 22:44] vwxyzjn commented on #1
That file is included in the jar file. Did you follow the instructions I posted above

[2020-02-15 23:18] jonbaer commented on #1
Yes, I think I fixed it, it was a JPype issue, but the only thing is I can't seem to render the env, the hello_world will run ...

~/microrts/maps/4x4/baseTwoWorkers4x4.xml
[Lai.rewardfunction.RewardFunctionInterface;@13221655

Same w/ monitor (no video)

One thing I did notice was that running jtest is error because the JNIClient is looking for an array of reward function interfaces.

TypeError:

[2020-02-16 04:00] vwxyzjn commented on #1
Try grabbing a new version here http://microrts.s3-website-us-east-1.amazonaws.com/microrts/artifacts/

[2020-02-16 06:09] jonbaer commented on #1
No luck, forgot to mention on OSX Catalina, the demo looks like it's playing out on Konsole/Linux.  A different python lib works (https://github.com/Bam4d/python-microRTS.git) - if anyone else has gotten the gym env running on OSX please chime in.

[2020-02-16 14:36] vwxyzjn commented on #1
So when you call the render function, nothing appears?

[2020-02-17 03:26] vwxyzjn commented on #1
@jonbaer Could you double check if you installed the full JRE? Once I only installed

jre-openjdk-headless and I couldn't render the game. Maybe that was the issue.

![image](https://user-images.githubusercontent.com/5555347/74621452-0c3c7400-510b-11ea-9f2f-159a6a203111.png)

The error regarding the `jtest.py` is expected since that was just a file for testing purposes. Thank you for being one of

[2020-02-17 04:04] jonbaer commented on #1
I just want to make sure, when I run hello_world I should automatically get the Game State Visualizer on it's own or do I need to be running microrts in the background for the VM/JNIClient connection?  It looks like self.client.render() does what it is suppose to.  I also added a small pause time.sleep(0.1) after the render() as some suggested for running some envs but still no luck.

[2020-02-17 04:08] vwxyzjn commented on #1
So env.render() should automatically give you the visualizer.

Costa

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jon Baer <notifications@github.com>
Sent: Sunday, February 16, 2020 11:04:44 PM
To: vwxyzjn/gym-microrts <gym-microrts@noreply.github.com>
Cc: Costa Huang <costa.huang@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [vwxyzjn/gym-mic

[2020-02-17 04:53] vwxyzjn commented on #1
https://youtu.be/9gm21uDZxls It should look something like this.

[2020-02-17 06:59] jonbaer commented on #1
I think I have figured out part of my issue, it's has to do w/ the way Jpype on OSX is working, it is not picking up the right VM, ie: startJVM(getDefaultJVMPath()) ... but there is also something which seems to block Swing app (microRTS) from running on my particular python setup.  Sounds like I might have to tweak both my python and JVM settings, if I come across any good combo will post back he

[2020-02-17 14:50] vwxyzjn commented on #1
Sounds good. Please keep me posted.

[2020-02-25 07:21] umtcnshn opened #2 "Support Different AI Type for Player 2"
First of all, thanks for this wonderful MicroRTS gym wrapper. From what I understand from the sample code that you shared, there is only one player (blue) that can take actions. My question is how we can get the workers of the other player (red) to move. I was able to add a red worker by modifying to map files in the folder. But I couldn't get these workers to move/harvest. Thanks in advance.

[2020-02-25 17:06] vwxyzjn commented on #2
Thanks for the kind words. Some required changes are:

1. Using JNIAI (which take actions and feedback observation to the python side) for the second AI in https://github.com/vwxyzjn/microrts/blob/master/src/tests/JNIClient.java. Currently, the second AI is a passive AI, which is the reason why you couldn't move the units from the red players (https://github.com/vwxyzjn/microrts/blob/d1fc2e66ad0e5

[2020-02-25 17:14] vwxyzjn commented on #2
Perhaps the most popular common multiple agent interface is https://github.com/koulanurag/ma-gym

[2020-02-26 12:01] umtcnshn commented on #2
Thanks for the detailed answer. I really appreciate it. At this current state, can we choose other options for the second AI other than the passive one? Such as taking random actions? Or the current interface only allows for a passive AI at this stage?

[2020-02-26 12:45] vwxyzjn commented on #2
Actually, The second AI could be any existing AI on the java side, For example, randomAI, MCTSAI, etc. They could be very Easily toggled in the current interface.

[2020-02-26 21:47] vwxyzjn commented on #2
1Please use the following command to update microrts jar file
[code]
You will not have to mess with the java side to experiment with the other AIs. Checked out how it's done in the referenced [commit](https://github.com/vwxyzjn/gym-microrts/commit/f10c92bfb5c1180121661158992cf2f2ff794c89) above. You have the flexibility to import every possible AI from https://github.com/vwxyzjn/microrts/tree/mast

[2020-02-26 21:47] vwxyzjn commented on #2
Closing now. I will reopen if you have any other of questions.

[2020-02-26 21:49] vwxyzjn commented on #2
The general support for multi-agent well come in the long run.

[2020-02-27 20:32] vwxyzjn commented on #2
@umtcnshn Can you confirm if this works for you?

[2020-02-28 07:54] umtcnshn commented on #2
Sorry to respond late. Yes it solved my problem. Thanks for all your detailed answers, I really appreciate it. Good luck with your research, I will stay tuned for it.

[2020-05-20 14:58] Thrameos commented on #1
@jonbaer Do you have a patch for OSX getDefaultJVMPath()?  It isn't something that I can replicate locally and would be nice to have fixed in the 0.8.0 release.

[2020-05-20 15:01] vwxyzjn commented on #1
@Thrameos mad respect for your tracking down issues!

[2020-05-20 15:01] vwxyzjn commented on #1
@Thrameos do you have a donation page?

[2020-05-20 17:19] Thrameos commented on #1
Nope.  My job requires an ethics form that prevents me from accepting any type of donation.  But if you want to help donate a patch, correct my documentation,  or just participate in putting wish requests for future features it is always appreciated.  I always scan all the open issues when I am doing a major release and when I see a mention I just track it down.  If I do someday JPype will be a re

[2020-05-21 05:13] jonbaer commented on #1
I did not but if it helps this is exactly where it will fail (out of box) on gym-microrts running hello_world ...

File "/Users/jonbaer/Library/Python/3.7/lib/python/site-packages/jpype/imports.py", line 344, in create_module
    return getattr(base, parts[-1])
AttributeError: module 'ts' has no attribute 'JNIClient'

So it is something around # Support of inner classes

[2020-05-21 05:18] vwxyzjn commented on #1
@jonbaer thanks for testing. The `ts` module is registered by this line https://github.com/vwxyzjn/gym-microrts/blob/e9d4a2c4852502c4b62e66692a41231f52104f83/gym_microrts/envs/base_env.py#L46. If it doesn’t work, did you try downloading the latest Jpype and microrts jar releases?

[2020-05-21 05:38] jonbaer commented on #1
Yes I have the latest and the following debug OK ...

print(jpype.getDefaultJVMPath())
print(jpype.getClassPath())

The problem seems to be that registerDomain("ts", alias="tests") doesn't seem to do the right thing if I see:

File "jtest.py", line 17, in <module>
    from ts import JNIClient
ImportError: cannot import name 'JNIClient' from 'ts' (/Users/jonbaer/Library/Python/3.7/lib/python/site-p

[2020-05-21 05:43] vwxyzjn commented on #1
![image](https://user-images.githubusercontent.com/5555347/82527376-4cddcc00-9b04-11ea-8bac-6356e7e430b4.png)

I just tested and it wasn't a problem for me. Well can you import from the `ai` package? Namely, do  you have an error when running `from ai.rewardfunction import ResourceGatherRewardFunction`?

[2020-05-21 06:03] jonbaer commented on #1
On OSX? I think on Linux there is no problems w/ registerDomain, it seems to be some security issue w/ classpath setting specific to OSX + using JNI.  I seriously would probably not worry about this issue on your end (in fact this ticket could be closed because in theory w/ this RL case in general it should be run on the Linux/GPU side), I don't know if there have been OSX/Jpype issues in the past

[2020-05-21 12:41] Thrameos commented on #1
There was a code change in JPype recently that may be affecting this.   We recently switched to using a new helper class that automatically finds domains so that they can be picked up.   The idea is pretty simple.  Whenever a user calls for a domain lookup we ask the classpath for any occurrences of a jar with the required path and create it.

[code]

The problem likely is that with the new packag

[2020-05-21 14:49] Thrameos commented on #1
I have complete a PR which should restore the alias behavior.   Hopefully this corrects this issue.

[2020-05-22 01:07] jonbaer commented on #1
Wait so (in reference to your example code) how would you actually append a new jar to the classpath? Would this be something to do before or after (or during) your call to startJVM()?  I tried both:

jpype.startJVM((jpype.getDefaultJVMPath(), '-ea', '-Djava.class.path=/Users/jonbaer/microrts/microrts.jar'))

jpype.addClassPath("/Users/jonbaer/microrts/microrts.jar")

And also un-jarred to a flat

[2020-05-22 05:02] Thrameos commented on #1
The syntax is ``jpype.startJVM( jvmpath, *args, classpath=_default)``  where the jvmpath and args are both optional. If the classpath keyword is specified than it governs or a -Djava.class.path appears, otherwise it will use jpype.getClassPath().

So the following are acceptable:

- Start using a specific jar for the classpath, default JVM.
[code]

- Start using a specific jar for the classpath wi

[2020-05-22 05:09] Thrameos commented on #1
Oh I missed part of the question.   Classpath can be added prior to start (MATLAB style), or during the startup.

Adding jars after is doable, but requires work so I don't usually recommend it.   The proceed for adding a jar after starting the JVM is to create a URLClassLoader in Java with the jar file and then adding that classloader to the search tree or manually loading the classes using JClass

[2020-07-08 18:58] doganjr opened #3 "environment works well but not rendering"
Very well implemented wrapper but I cannot render the environment when I run hello_world.py, it does not produce any errors, environment returns observations. I am running the wrapper on macOS and It renders openai gym environments when I call render() in the loop.

[2020-07-08 19:02] vwxyzjn commented on #3
Hi, glad to know that it is running as intended. This seems to be an issue related to #1, Unfortunately I don’t have a mac so I couldn’t test it out. Were you able to get the video recording working by any chance?

For example, try going to experiment folder and run `ppo.py --capture-video`

[2020-07-08 19:12] doganjr commented on #3
After some dependencies have been installed and run "python3 ppo.py --capture-video"  I got some error like that:

 (base) doganjr:experiments doganjr$ python3  ppo.py --capture-video
/Users/doganjr/microrts/maps/10x10/basesWorkers10x10.xml
[Lai.rewardfunction.RewardFunctionInterface;@1b68ddbd
/Users/doganjr/microrts/maps/10x10/basesWorkers10x10.xml
[Lai.rewardfunction.RewardFunctionInterface;@59e

[2020-07-08 19:15] vwxyzjn commented on #3
Hmmm that seems to suggest the rendering is not working at all. What’s your jdk/jre version? May be the default one does not come with the graphical packages. See https://stackoverflow.com/questions/32862344/what-is-the-difference-between-openjdk-7-jre-headless-and-openjdk-7-jrejdk

[2020-07-08 19:17] vwxyzjn commented on #3
Another thing that you can look into is to see whether you can build microrts by following instructions here https://github.com/santiontanon/microrts/blob/master/README.md

[2020-07-08 19:19] doganjr commented on #3
<img width="957" alt="Screen Shot 2020-07-08 at 22 14 56" src="https://user-images.githubusercontent.com/40040706/86960743-a6f42880-c168-11ea-9aa4-4bf8d80e6f6b.png">

By running hello_world.py, above is what I get. It can be seen that states can be observed without any problem. Unlike the demo.gif you provided nothing pops up. :/

[2020-07-08 19:53] doganjr commented on #3
I have installed the newest versions of JDK and JRE but unfortunately, nothing has changed.

[2020-07-08 22:08] vwxyzjn commented on #3
Could you try running
[code]

and see if the RGB pixels can be retrieved?

![image](https://user-images.githubusercontent.com/5555347/86975223-dba2b880-c145-11ea-9475-ac6c2b57d6bc.png)

Btw your error above has `Unknown encoder 'libx264'`, which can be fixed (see https://stackoverflow.com/questions/9764740/unknown-encoder-libx264)

[2020-07-09 06:57] doganjr commented on #3
I have run the script and get the output that you had on your console. But still no rendering. Here is one interesting fact, even I change the environment(gym.make(_change_)) it always prints out to console following:
"/Users/doganjr/microrts/maps/4x4/**baseTwoWorkersMaxResources4x4.xml**
[Lai.rewardfunction.RewardFunctionInterface;@2f410acf"
Is it expected or do you think I have installed the wra

[2020-07-09 10:49] vwxyzjn commented on #3
That is expected.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Dogan Can Cicek <notifications@github.com>
Sent: Thursday, July 9, 2020 2:57:50 AM
To: vwxyzjn/gym-microrts <gym-microrts@noreply.github.com>
Cc: Costa Huang <costa.huang@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [vwxyzjn/gym-microrts] environment works well but not rendering

[2020-07-10 08:17] doganjr commented on #3
Hello, I have followed instructions from https://github.com/santiontanon/microrts/blob/master/README.md and when I run FrontEnd.java environment popped up without a problem, I also have created a .jar file by following instructions and run it without a problem, too. But when I try to run the latest version of microrts.jar from console it gives an error as follows:
(base) doganjr:microrts doganjr$

[2020-07-10 11:55] doganjr commented on #3
<img width="958" alt="Screen Shot 2020-07-10 at 14 46 29" src="https://user-images.githubusercontent.com/40040706/87151338-57bf0c80-c2bc-11ea-87f5-f4c1b95f4688.png">

After I have added imshow and show, I am able to catch Game State Visualizer from your demo.gif but it is still not observable. Maybe the problem is mainly about matplotlib part of the wrapper but I am not completely sure.

[2020-07-10 12:09] vwxyzjn commented on #3
Try the following as a work around, which should give you a recorded video in the `video` folder.

[code]

![image](https://user-images.githubusercontent.com/5555347/87152864-76a1ac80-c284-11ea-9826-d05c416f7ad2.png)

With respect to the game visualizer, try the following command

[code]

and see if the game visualizer pops up. If so, it would appear to be a jPype problem.

[2020-08-07 11:05] umtcnshn commented on #2
Hi again, I want to ask a question regarding different options for the second AI. Since it is related to my first problem, I want to reopen this issue. As you said, I am now able to import every AI from the repo: https://github.com/vwxyzjn/microrts/tree/master/src/ai. But some AIs like LightRush requires a UnitTypeTable object in their constructors. Is there a way to import the UnitTypeTable objec

[2020-08-07 14:06] vwxyzjn commented on #2
Yes the utt is already in the class. Maybe trying using `env.utt`. Let me know if it helps.

[2020-08-07 14:07] vwxyzjn commented on #2
On a related note I feel self-play could be implemented in the following way: https://github.com/vwxyzjn/cleanrl/blob/master/cleanrl/experiments/ppo_self_play.py

[2020-08-10 02:05] changpowei commented on #2
Hi @vwxyzjn ! Very appreciated for this MicroRTS gym wrapper. I'm currently trying to solve the MicroRTS with some Reinforcement Learning skill. And it seems to face the problems same as @umtcnshn said, it requires a UnitTypeTable object when I import some AIs(like WorkerRush, LightRush...etc). And I solved above question using below method:

def WorkerRush():
    from ai.abstraction import Worker

[2020-08-10 04:12] vwxyzjn commented on #2
Hi @umtcnshn @changpowei ,

Thanks for the valuable bug report. Please update microrts using the following command
[code]
Then the following should work

[code]

![demo](https://user-images.githubusercontent.com/5555347/89751390-d8c91980-da9d-11ea-8b9a-4daba182d68f.gif)

See the related code for how this is achieved. https://github.com/vwxyzjn/gym-microrts/commit/5b50735052bc1c45a502141a7ad223c3e7

[2020-08-10 06:51] changpowei commented on #2
Thanks for replying! After update the microrts.jar and codes that u just modified, it still have problem here. Please help debugging.
1. It seems missing some code when launch the JVM
![擷取選取區域_285](https://user-images.githubusercontent.com/22905460/89757481-f5099c80-db17-11ea-84a2-9189ba4f835c.png)
2.After adding the code, some error pop up. It seems problem of Java version.
![擷取選取區域_286](https://

[2020-08-10 08:08] changpowei commented on #2
I found that the problem is that the JDK version is too low. I just update Java version to OpenJDK 14, and it works smoothly.
Thx again.

[2020-08-10 19:16] vwxyzjn opened #4 "Support Multiple Actions at the Same Time step"
Currently `gym-microrts` only allows a single unit to execute an action in a time step. The full game of microrts, however, supports issuing actions for each unit in a time step. This issue keeps track of related development, and a successful inclusion will allow a fair combat against existing bot.

[2020-08-11 05:50] umtcnshn commented on #2
Thank you all @vwxyzjn @changpowei. As @changpowei said, after I updated the JDK version, everything works smoothly. On a side note, I am running the game on a Windows 10 machine. Windows users should update the JAVA_HOME path in the Environment Variables with the correct JDK version so that you don't get the error @changpowei mentions.

[2020-08-11 06:43] ianyou0317 opened #5 "Saving and loading model"
Hi @vwxyzjn ,I really appreciate for this wonderful MicroRTS gym wrapper. The project works very well, but I wonder how to save the well-trained model and loading to others environments. Thanks in advance.

[2020-08-11 16:37] vwxyzjn commented on #4
See this as a demo https://streamable.com/xieffe

[2020-08-11 17:04] vwxyzjn commented on #5
In pytorch, saving models is trivially easy. See https://pytorch.org/tutorials/beginner/saving_loading_models.html.

All you have to do is

[code]

[2020-08-11 17:06] vwxyzjn opened #6 "Support Self-play"

[2020-08-11 17:07] vwxyzjn commented on #2
Thanks everyone for the kind discussion and support. This issue is now closed. For related issue on self-play, #6 should host related discussions instead. Closing this issue for now.

[2020-08-11 17:07] #2 closed

[2020-08-11 17:08] vwxyzjn commented on #2
@umtcnshn @changpowei The reason the JDK version has been an issue is because our CI/CD server is down and I had to manually build a release myself, whihc is built using JDK 14

[2020-08-11 17:09] vwxyzjn commented on #3
For a lack of response, closing this issue for now.

[2020-08-11 17:09] #3 closed

[2020-08-11 17:09] vwxyzjn commented on #1
For a lack of response, closing this issue for now.

[2020-08-11 17:09] #1 closed

[2020-08-11 17:10] vwxyzjn commented on #5
Closing this issue for now. Let me know if you have additional questions :)

[2020-08-11 17:10] #5 closed

[2020-08-13 03:31] Nico1ee opened #7 "Adjust reward"
Hi @vwxyzjn , thanks for providing this wrappers.
I want to let agent collect resources at the beginning, then produce workers, and finally attack enemy to win the game.
In ppo algorithm, how to adjust the rewards gradually according to the time of each game(episode_steps) ?

[2020-08-13 03:41] vwxyzjn commented on #7
See below as an example on how to shape the rewards

https://github.com/vwxyzjn/gym-microrts/blob/7ac6f8ad0c6f4bd51836228c9951fa68756710c4/gym_microrts/v1.py#L174
https://github.com/vwxyzjn/gym-microrts/blob/7ac6f8ad0c6f4bd51836228c9951fa68756710c4/gym_microrts/envs/global_agent_env.py#L160

Our ppo implmentation is able to learn this behavior (https://streamable.com/o797ca) in `MicrortsRandomEnem

[2020-08-14 08:54] Nico1ee commented on #7
Thanks for your reply.
I tried to train a agent with ppo algorithm using the instructions you provided, but the agent usually loses to randomAI.
Through observation, I found that the agent works well at the beginning of the game. It will collects, produce workers, and attacks the enemy’s base.
However, as the game time passes, agent won't attack enemy just stay near our base. It's looks like waiti

[2020-08-14 11:37] umtcnshn commented on #6
Hello Costa, from my previous issue, we discussed about allowing a second player which can also be controlled from the Python side. You already told about how it should be done in the previous post. But if you can provide further instructions I can work on it.

[2020-08-14 19:06] vwxyzjn commented on #6
Hi @umtcnshn  the design for multiagent apis is actually a little more complicated. There are many considerations regarding support for self-play with multiple paradigms (e.g. playing against older version of the same agent or have true multiagent) and how to incorporate the vectorized envs.

I am currently looking at https://github.com/PettingZoo-Team/PettingZoo

[2020-08-16 20:28] umtcnshn commented on #6
Thanks for the reply @vwxyzjn. I definitely agree with you it is a bit more complicated task than it seems especially for the multi-agent implementation on the python side. For starters, the java server is in the jar file you shared with the project, right? I was able to extract the classes in this jar file and modify a class so that it was effective on the python client side. But it is a tedious

[2020-08-16 20:30] vwxyzjn commented on #6
So every time I do a change to the java side, I execute `bash build.sh` in the vwxyzjn/microrts folder to generate the jar file. You do have to generate a new jar file every time new code has been added to the java side.

[2020-08-16 23:48] vwxyzjn commented on #7
Hi, sorry for the delay in reply. In general reward shaping is kind of brittle. Agents by chance discover diverse set of policies. Feel free to play with the reward shaping weights here https://github.com/vwxyzjn/gym-microrts/blob/7ac6f8ad0c6f4bd51836228c9951fa68756710c4/gym_microrts/v1.py#L174

[2020-08-24 08:03] changpowei opened #8 "Sample a lots of invalid actions while training."
Hi @vwxyzjn , sorry for bothering you again. After study this case entire week, I have a couple of questions ask u.

1.
I found the output of `env.action_mask` will get all 0 sometimes, despite there have our units or opponent units on the map. Ideally, I think the location of units should be 1 .

[code]

2.
 In my opinion, Categorical(logits=logits) should only consider 1 while converting into pr

[2020-08-24 15:44] vwxyzjn commented on #8
Hi @changpowei , I want to first thank you for taking the time to report this issue. I will take a look today. Second, I have just created a discord server in case you wanted to join https://discord.gg/5URpuE, where you can directly ask smaller questions.

[2020-08-24 16:01] vwxyzjn commented on #8
Regarding issue 2. The code that calculates the action mask is here:

https://github.com/vwxyzjn/gym-microrts/blob/7ac6f8ad0c6f4bd51836228c9951fa68756710c4/gym_microrts/envs/global_agent_env.py#L63-L69

Action mask is composed of unit location mask, action type and parameters mask, and target unit location mask. So far we have not implemented the action type and parameters mask.
So given a locatio

[2020-08-24 16:03] vwxyzjn commented on #8
Regarding issues 3-4, they seem to be issues related to the implementation of invalid action masking. I suggest looking at our paper https://arxiv.org/abs/2006.14171 and see if that helps.

[2020-08-24 16:04] vwxyzjn commented on #8
Lastly issue 5 does not seem to cause too many troubles so I kind of just left them there...

[2020-09-02 13:08] umtcnshn commented on #6
Hi @vwxyzjn, thanks for your help. Are there any updates on self-play?

[2020-09-03 19:21] vwxyzjn commented on #7
Closing the issue but feel free to open another one should you have new questions. Thanks for reporting this issue.

[2020-09-03 19:21] #7 closed

[2020-09-03 19:22] vwxyzjn commented on #8
Closing the issue for now but feel free to open another issue should you have more questions.

[2020-09-03 19:22] #8 closed

[2020-09-03 20:22] vwxyzjn commented on #6
Hi @umtcnshn , please check out for an initial implementation of self-play at https://github.com/vwxyzjn/gym-microrts/blob/master/experiments/ppo_selfplay.py. You could also check out a run here https://app.wandb.ai/costa-huang/gym-microrts/runs/2c4m2cde?workspace=user-costa-huang.

Please run the following to update the microrts jar file

[code]

[2020-09-03 20:24] vwxyzjn commented on #6
Btw, I have just created a discord server in case you wanted to join https://discord.gg/5URpuE, where you can directly ask smaller questions.

[2020-09-04 13:04] umtcnshn commented on #6
Thanks @vwxyzjn, it worked. BTW, the last microrts.jar file update does not include the jar file itself, instead it includes the contents in the jar file so one has to build these files into a jar file first. The new map files are also missing. Can you provide the jar file and the map files when you have the time?

[2020-09-04 21:19] vwxyzjn commented on #6
Please retry using the following commands
[code]

[2020-09-08 11:43] xyz123asd commented on #6
Hi @vwxyzjn thanks for this project. Using self-play I was able to move the second player. Now I am able to control the two players at the same time. Can you also consider combining self-play with multiple action at the same time step? I think the functions such as simulateStep that allows multiple actions are defined in JNIClient class but not in JNIClientSelfPlay. I don't have the source files s

[2020-09-08 15:10] vwxyzjn commented on #6
@umtcnshn Hi, the support for multiple action in the same time step is still experimental and results in unstable performance. For now, I suggest training an agent just using one action at a timestep

[2020-10-09 20:28] carlosgmartin opened #9 "ModuleNotFoundError: No module named 'rts'"
After following the instructions in the README and trying to run `python3 hello_world.py`, I'm getting the following error:

[code]

[2020-10-09 20:29] vwxyzjn commented on #9
Hello, is this the latest version?

[2020-10-09 20:55] carlosgmartin commented on #9
Thanks, I followed the new README and it seems to work now.

What's the right way to end execution of `hello_world.py`? `SIGINT` and `SIGQUIT` don't work. I also notice `env.close()` is commented out in `hello_world.py`.

[2020-10-09 20:57] vwxyzjn commented on #9
Great to hear that. Try `env.close()`

[2020-10-09 21:03] carlosgmartin commented on #9
I uncommented `env.close()` but the problem persists. Trying to send `SIGINT` (`Ctrl`+`C`) yields

[code]

After that, trying to send `SIGQUIT` (`Ctrl`+`\`) yields

[code]

and many more lines.

[2020-10-09 22:53] vwxyzjn commented on #9
Hi this problem is likely an upstream bug from jpype, which we use to interface microrts with the python code. See https://github.com/jpype-project/jpype/issues/556 for more info.

[2020-10-10 15:33] vwxyzjn commented on #9
Some workaround i have often used is to use `raise` at certain position to stop the code execution.

[2020-10-28 21:15] carlosgmartin commented on #9
It looks like the jpype issue was closed again. I'm still experiencing the same problem after reinstalling gym-microrts. Are there any other changes I need to apply?

[2020-10-28 21:17] vwxyzjn commented on #9
@carlosgmartin feel free to update your Jpype and see if the issue persists. Per the conversation in the issue, I am not sure if they have pushed the fix for Ctrl C to the latest version yet.

[2020-10-28 23:28] carlosgmartin commented on #9
Thanks. I updated jpype with `pip3 install git+https://github.com/jpype-project/jpype.git` and it seems to work now. Is there an option to disable printing the following lines?

[code]

[2020-10-29 16:00] vwxyzjn commented on #9
@carlosgmartin Great to hear. The printing comes from https://github.com/vwxyzjn/microrts/blob/a27507fed37aee0f3526c022ef5b315e4e880fd0/src/tests/JNIClient.java#L140. Right now you have compile to disable the printings.

So when you run the `hello_world.py` with the Monitor wrapper, does it save the video at least? Also what operating system are you running on?

[2020-10-30 00:11] carlosgmartin commented on #9
Sorry, can you clarify what you mean?

Yes.

macOS Catalina 10.15.7.

[2020-11-14 04:19] vwxyzjn commented on #4
This is handled properly in the v2, v3 envs. Closing the issue.

[2020-11-14 04:19] #4 closed

[2021-07-13 03:00] ZJJ2017 opened #12 "can not run "MicroRTSGridModeVecEnv(...)""
When I run "hello_world.py", the error messages are as follow:
    from rts.units import UnitTypeTable
    ImportError: cannot import name 'UnitTypeTable' from 'rts.units' (unknown location)

[2021-07-13 12:49] vwxyzjn commented on #12
You need to recursively clone the project

git clone --recursive https://github.com/vwxyzjn/gym-microrts.git

Check out developer guide here: https://github.com/vwxyzjn/gym-microrts#developer-guide

[2021-07-13 14:20] ZJJ2017 commented on #12
I have recursively cloned the project and followed the developer guide to build the microrts.
But the question emerged when I run it on Win10.

[2021-07-13 14:22] vwxyzjn commented on #12
Can you try the pypi installation: pip install gym_microrts —upgrade

I had recently tested the pypi installation at least that worked on win 10

Sincerely,
Costa
________________________________
From: zjj_nudt ***@***.***>
Sent: Tuesday, July 13, 2021 10:20:42 AM
To: vwxyzjn/gym-microrts ***@***.***>
Cc: Costa Huang ***@***.***>; Comment ***@***.***>
Subject: Re: [vwxyzjn/gym-microrts] can not ru

[2021-07-13 14:30] ZJJ2017 commented on #12
The way of pypi installation worked on win10.
The above-mentioned question appeared,  when I followed the developer guide.
Can you tell me how to solve the problem?

[2021-07-13 14:32] vwxyzjn commented on #12
Did you build the microrts? So it is

pip install gym_microrts --upgrade

Sincerely,
Costa
________________________________
From: zjj_nudt ***@***.***>
Sent: Tuesday, July 13, 2021 10:31:10 AM
To: vwxyzjn/gym-microrts ***@***.***>
Cc: Costa Huang ***@***.***>; Comment ***@***.***>
Subject: Re: [vwxyzjn/gym-microrts] can not run "MicroRTSGridModeVecEnv(...)" (#12)

The way of pypi installation work

[2021-07-13 14:33] vwxyzjn commented on #12
It is

cd gym_microrts/microrts && bash build.sh && cd ..&& cd ..
python hello_world.py

Sincerely,
Costa
________________________________
From: Costa Huang ***@***.***>
Sent: Tuesday, July 13, 2021 10:32:42 AM
To: vwxyzjn/gym-microrts ***@***.***>; vwxyzjn/gym-microrts ***@***.***>
Cc: Comment ***@***.***>
Subject: Re: [vwxyzjn/gym-microrts] can not run "MicroRTSGridModeVecEnv(...)" (#12)

Did yo

[2021-07-13 14:40] ZJJ2017 commented on #12
I have used the following commands to build the microrts.
cd gym_microrts/microrts && bash build.sh && cd ..&& cd ..

But when I run hello_world.py, the problem appeared.

[2021-07-13 14:41] ZJJ2017 commented on #12
I have used the following commands to build the microrts.
cd gym_microrts/microrts && bash build.sh && cd ..&& cd ..

But when I run hello_world.py, the problem appeared.

[2021-07-13 14:41] vwxyzjn commented on #12
Could you check if an microrts.jar has been created? If so could you check if it has the correct classes built in? What’s your jdk version

Sincerely,
Costa
________________________________
From: zjj_nudt ***@***.***>
Sent: Tuesday, July 13, 2021 10:40:22 AM
To: vwxyzjn/gym-microrts ***@***.***>
Cc: Costa Huang ***@***.***>; Comment ***@***.***>
Subject: Re: [vwxyzjn/gym-microrts] can not run "Mic

[2021-07-13 14:44] ZJJ2017 commented on #12
microrts.jar has been created.
My jdk version is 15.01

[2021-07-13 15:02] vwxyzjn commented on #12
Could you check the content of the `microrts.jar` file? Mine looks like

![image](https://user-images.githubusercontent.com/5555347/125475715-1895d9a3-0233-4265-8154-401e2d6325ff.png)

[2021-07-13 15:10] ZJJ2017 commented on #12
![image](https://user-images.githubusercontent.com/31504672/125476947-7df59b9e-5c00-41a8-90d0-737a3b1e59b7.png)

[2021-07-13 15:13] vwxyzjn commented on #12
Ah so something went wrong there. You don't have the ai folder in there. I just pushed my latest changes. Could you pull recursively and rebuild microrts?

[2021-07-13 15:17] vwxyzjn commented on #12
I apologize for the inconvenience. For future, I will start doing PRs to not break master.

[2021-07-13 15:54] ZJJ2017 commented on #12
I have pulled recursively and rebuilt microrts just now, but the same problem still appeared.

![image](https://user-images.githubusercontent.com/31504672/125484522-9c51c0f3-7378-4935-810b-4b7b4422bcf6.png)

![image](https://user-images.githubusercontent.com/31504672/125484591-ad3a9000-2b57-45f4-9761-2a8b3359b539.png)

[2021-07-13 18:05] vwxyzjn commented on #12
Try `cd gym_microrts/microrts && bash build.sh > build.log && cd ..&& cd ..
python hello_world.py`, and check the `build.log` to see if there is any error over there, maybe. Also are you using the bash to run the script above in windows?

[2021-07-15 04:55] ZJJ2017 commented on #12
There is not  a file named 'build.log'.
When I was building microrts, there is no any error messages.

[2021-07-15 05:03] ZJJ2017 commented on #12
I think that there may be some errors in the following command.
javac -d "./build" -cp "./lib/*" -sourcepath "./src"  $(find ./src/* | grep .java)

[2021-08-24 12:28] balloch commented on #12
I am also facing this problem. Is there a tagged earlier version pre-breaking change that
 we can work in ?

[2021-08-24 12:54] vwxyzjn commented on #12
Hey is this on windows?

[2021-08-24 12:54] vwxyzjn commented on #12
If you are on windows, you could try building microrts using bash instead of Powershell

[2021-08-24 13:17] vwxyzjn commented on #12
Also you could run the one with pebuild jars by doing

pip install gym_microrts —upgrade

[2021-08-24 15:31] balloch commented on #12
I'm on Linux not windows, and the pip install method is what I tried to use

On Tue, Aug 24, 2021, 9:18 AM Costa Huang ***@***.***> wrote:

[2021-08-24 15:34] vwxyzjn commented on #12
@balloch oh wow that is very unexpected. When you installed through pip, have you tried to run the hello world code in a directory that is not in this repo?

[2021-08-24 15:50] vwxyzjn commented on #12
https://asciinema.org/a/GpgHDe0ysLR1eNVpJrDHCFyJd

Here you go. At least pip installation should work.

[2021-08-24 16:13] balloch commented on #12
Yes the hello world is what is causing the error for me

On Tue, Aug 24, 2021, 11:50 AM Costa Huang ***@***.***> wrote:

[2021-08-24 16:27] vwxyzjn commented on #12
If you checkout the video recording at https://asciinema.org/a/GpgHDe0ysLR1eNVpJrDHCFyJd, it shows that you can install via pip and then it runs the hello_world.py without problems.

[2021-08-24 17:45] vwxyzjn commented on #12
These are the commands that are associated with the video recording  at https://asciinema.org/a/GpgHDe0ysLR1eNVpJrDHCFyJd

[code]

[2021-08-25 14:28] balloch commented on #12
Thanks, I'll check it out, try specifying the version to pip and see if it
helps

On Tue, Aug 24, 2021, 1:45 PM Costa Huang ***@***.***> wrote:

[2021-08-25 14:28] balloch commented on #12
What version of Ubuntu is in the video (or if not Ubuntu which kernel?)

On Wed, Aug 25, 2021, 10:27 AM Jonathan Balloch ***@***.***>
wrote:

[2021-08-25 15:12] vwxyzjn commented on #12
I think by default it's using `20.04(latest)`

[2021-10-15 22:02] vwxyzjn commented on #12
Closing this but feel free to reopen

[2021-10-15 22:02] #12 closed

[2022-01-18 02:11] vwxyzjn opened #36 "Reproduce Gridnet's SOTA agent with Trueskill Evaluation"
Now that we are trying to get the self-play agent working, it's important to set baselines that we want to achieve and excel. Our best past experiment is [this](https://wandb.ai/vwxyzjn/gym-microrts-paper/runs/asrpz468) (which I just now realized Chris had run with `--num-bot-envs 48`), which can achieve a Trueskill of `35.55` ([source](https://wandb.ai/vwxyzjn/cleanrl/runs/2x90jbfo)).

![image](h

[2022-01-19 15:32] vwxyzjn commented on #36
Unfortunately, I wasn't able to reproduce the best past results in https://wandb.ai/costa-huang/gym-microrts/runs/17moy8qp. Maybe I need to run with the default parameters in https://wandb.ai/vwxyzjn/gym-microrts-paper/runs/asrpz468 (--num-bot-envs 48)

[2022-01-19 19:42] vwxyzjn commented on #36
Actually, I am going to try to use #34 to run the following:
[code]

[2022-01-19 20:09] vwxyzjn commented on #36
https://wandb.ai/costa-huang/gym-microrts/reports/MicroRTSGridModeSharedMemVecEnv---VmlldzoxNDYwNDE0 tracks this progress

[2022-01-20 13:13] lyhlyhl opened #40 "the rules about the environment"
I have read the paper your readme.md mentioned. I think the game is similar to the StarCraft II ，but it is simpler than StarCraft II. So, is there any papers or introductions about the rules of the game? it will help me to try my agent. It is more than appreciative.

[2022-01-20 14:50] vwxyzjn commented on #40
Hey, we have documentation here: https://github.com/santiontanon/microrts/wiki/Game-Definition

[2022-01-20 15:20] lyhlyhl commented on #40
wow，thanks a lot !

[2022-01-22 18:24] vwxyzjn opened #41 "Binary search bug with the `new_league.py`"
For some reasons the binary search could result in negative `high` and `low`, probably a bug introduced by #37

![image](https://user-images.githubusercontent.com/5555347/150650866-844ff008-4aed-4e92-b289-337ea46cd033.png)

[2022-01-22 18:25] vwxyzjn commented on #36
A new run https://wandb.ai/costa-huang/gym-microrts/runs/2v658xqx/logs?workspace=user-costa-huang seems successful, although the true skill evaluation is a bit buggy: see #41

[2022-01-22 20:59] vwxyzjn commented on #41
Also trying out alternative way to do match making :D

![image](https://user-images.githubusercontent.com/5555347/150655297-98b9f947-b3cd-409a-a143-c9fa09c93296.png)

[2022-01-24 16:04] vwxyzjn commented on #36
This [run](https://wandb.ai/costa-huang/gym-microrts/runs/2v658xqx?workspace=user-costa-huang) successfully reproduced past best results. Closing the issue now.

![image](https://user-images.githubusercontent.com/5555347/150818886-bdc1bd69-e1b8-42e4-8a6d-5ce350d4f6dd.png)

[2022-01-24 18:50] vwxyzjn commented on #41
#44 resolves this.

[2022-01-24 18:50] #41 closed

[2022-01-24 20:40] vwxyzjn commented on #36
Now try reproducing the same results with `MicroRTSGridModeSharedMemVecEnv` from #34 in https://wandb.ai/gym-microrts/gym-microrts/runs/39stn3xh

[2022-01-26 04:18] vwxyzjn commented on #40
Closing this issue now, but feel free to re open if you have further questions.

[2022-01-26 04:18] #40 closed

[2022-01-26 20:39] vwxyzjn opened #50 "Better Trueskill evaluation"
Continuing the thread from #43 here because #43 is closed.

@kachayev mentioned

I am ok with both. Github issues are archived and easy to view for future users, which is nice. Whereas Discord is easier to do quick chat, so both have pros and cons.

Yes, currently it's only used for evaluation: the Trueskill of the reference agent are fixed and we only update the trueskill of the training agent.

[2022-01-27 04:26] vwxyzjn opened #51 "Faster Convergence"
Training an agent now still takes a long time. The particular [experiment](https://wandb.ai/costa-huang/gym-microrts/runs/2v658xqx) in #36 took 4d 9h 11m 14s to finish.

Looking at the reward chart, it appears the agent could achieve 70% of the final performance in just 50M steps (or  about 10 hours into training)

![image](https://user-images.githubusercontent.com/5555347/151291819-8cd5111b-b003-

[2022-01-27 04:34] vwxyzjn commented on #51
The bottleneck I think is still largely on the NN side. So one thing worth trying is to reduce the NN size.

Alternatively, I noticed the learning rate annealing, in the end, seems to really help the algorithm converge. So maybe we could also try using a smaller learning rate and just turn off annealing.

Maybe we could tune with the discount factor (we should also visualize the discounted returns

[2022-01-28 21:11] vwxyzjn commented on #36
Was able to reproduce same results with `MicroRTSGridModeSharedMemVecEnv`.

![image](https://user-images.githubusercontent.com/5555347/151621901-3f4c589b-5600-4f6b-a15f-42ca773ad0bf.png)

Also, SPS is about 10% faster! If we could make the NN faster, SPS will be even faster.

![image](https://user-images.githubusercontent.com/5555347/151621986-4dc8a689-b0d9-42d8-b32b-477e50a2c969.png)

[2022-01-30 19:37] kachayev commented on #50
Hey! More thoughts on the topic as I'm working with evaluation code. It seems like we rely on an assumption that is not as obvious I thought before, and probably needs a verification: both binary search and quality-based sorting assume that A > B and B > C means A > C. Which might not be always the case. There might be a niche strategy out there that doesn't give you much of a winrate but still ca

[2022-01-31 14:45] vwxyzjn commented on #50
This is a very practical consideration. As a preliminary fix, I randomly pick one of the three opponents with the highest quality scores, which IMO helps to a certain extent.

While the weird agent situation could definitely occur, it is unlikely the case with the current league composition: the bots with low true scale are things like passive AI and random AI. That said, I see this would be a big

[2022-01-31 23:05] vwxyzjn commented on #51
#56 tries to address this issue.

[2022-02-07 00:52] vwxyzjn opened #59 "Add Pettingzoo Bindings"
**TLDR**: [Petting Zoo](https://www.pettingzoo.ml/) has become the standard library for getting multi-agent environments & we want to support Petting Zoo's bindings in gym-microrts.

This project https://github.com/vwxyzjn/gym-microrts is an RL environment for RTS game, where lots of units are always spawning and dying. Because of the multi-agent nature of RTS games, gym-microrts should fit with P

[2022-02-07 00:57] kachayev commented on #59
I have a working version of microrts integrated with PettingZoo to expose each unit in the game as independent agent :) I assume you are describing less "extreme" API where we have agent = player, right?

Is the goal to make wrappers from PettingZoo to SB3 to work (like vectorization)?

[2022-02-07 01:43] vwxyzjn commented on #59
Oh @kachayev that's awesome! @BolunDai0216 is interested in working on this. Would you mind sharing your version here?

[2022-02-07 06:08] kachayev commented on #59
Absolutely! I'll dig it up tomorrow

[2022-02-09 00:49] kachayev commented on #59
Okay, I completely blinked on this. This is (partially) the code I'm using in my experiments. I tried to cherry-pick it without any dependencies on my implementation of the environment. I think that the use case of having API for 2 players would be much easier: there won't be any problems with having dynamic number of agents, obs and action space is the same for both players, no problems with rewa

[2022-02-09 00:49] kachayev commented on #59
[code]

[2022-02-09 01:08] BolunDai0216 commented on #59
Thanks for sharing, this definitely gives me a nice place to start.

[2022-02-09 01:19] vwxyzjn commented on #59
@kachayev thanks for sharing this!

I agree. My first thought on this is gym-microrts's pettingzoo API should be very similar to chess's pettingzoo API that only has two players: https://www.pettingzoo.ml/classic/chess

[2022-02-09 01:37] kachayev commented on #59
@BolunDai0216 Absolutely!

@vwxyzjn if my memory doesn't fail me, chess is also implemented as AEC. So the API would look the same. I meant the implementation would be easier with static number of agents

[2022-02-09 18:14] kachayev commented on #50
There's another problem with the way TrueSkill is used for evaluation right now: the result depends on the order of matches. Especially when we only have a handful of updates (compared to 50+ games per player that are typically used to analyze convergence properties). TrueSkill2 [paper](https://www.microsoft.com/en-us/research/uploads/prod/2018/03/trueskill2.pdf) has an example of how this could g

[2022-02-20 01:06] vwxyzjn opened #61 "Weird issue with `peewee`"
I seem to have encountered a weird issue with `peewee`:

[code]

[2022-02-24 02:53] xluox opened #64 "Goal--Achieving generalized training and evaluation for agents"
There are several steps for this goal:
- [ ] Support multiple maps during training,
- [ ] Support multiple maps during league evaluation.
- [ ] PCG for generating different maps
- [ ] Bridge to connect PCG with training and evaluation

[2022-02-25 14:43] vwxyzjn commented on #64
As we discussed, the naïve way of supporting this feature is to reinitialize the vectorized environment, along with the storage variables such as `obs, actions`, every once in a while.

However, the most desirable way I think is to swap the map after a sub-environment in the vectorized environment is done.

For instance, if 5th index in `done` in the following code is `True`,

https://github.com/v

[2022-03-01 17:00] vwxyzjn opened #65 "Modify the `MultiDiscrete` action space definition"
I just realized we can use a multi-dimensional array as the `nvec` for gym's MultiDiscrete action space. We should re-define the action space to have shape `(h, w, 7)` as follows:

[code]

This will simplify the various flatten and reshape logic such as

https://github.com/vwxyzjn/gym-microrts/blob/3d7a42f46efbd39a0b806388b8a445fbee48d00f/experiments/ppo_gridnet.py#L428
https://github.com/vwxyzjn/

[2022-03-04 01:25] xluox opened #68 "Support multiple maps during league evaluation."

[2022-03-04 15:48] #68 closed

[2022-03-15 14:22] xluox opened #72 "Support multiple maps during training,"

[2022-03-18 14:24] #72 closed

[2022-03-25 14:04] xluox opened #75 "PCG for generating different maps"

[2022-04-01 02:28] #75 closed

[2022-04-25 19:02] Neos-codes opened #77 "Issue with hello_world.py in actions.reshape()"
Hi! I'm learning how to use microRTS, but i can't run the example "hello_world.py" due the following error:

[ 6  4  4  4  4  7 49]
0
Traceback (most recent call last):
  File "hello_world.py", line 70, in <module>
    next_obs, reward, done, info = envs.step(action)
  File "/home/neos_/.local/lib/python3.8/site-packages/gym_microrts/envs/vec_env.py", line 190, in step
    self.step_async(ac)
  Fi

[2022-04-25 19:09] vwxyzjn commented on #77
Sorry you are running into this issue. Could you check if you can run the `hello_world.py in https://github.com/vwxyzjn/gym-microrts/pull/71? We will add a test case for this to ensure this never happens again.

[2022-04-25 19:17] vwxyzjn commented on #77
Specifically this:

https://github.com/vwxyzjn/gym-microrts/blob/6d3644bbd1b4564ec8091bf8d37cd2983daadff3/hello_world.py#L1-L62

[2022-04-25 19:24] Neos-codes commented on #77
It works perfect! Thanks!

[2022-04-25 19:24] #77 closed

[2022-07-22 11:33] chloebeth opened #79 "Cannot import 'JNIGridnetVecClient' from ts"
Hello, I am opening this in case someone else has ran into this same issues. I am attempting to run hello_world.py, pop_gridnet_eval.py, etc on a MacOS  and I am getting this error. I am hoping someone else has ran into this issue before. Thank you so much for your time!

[2022-07-22 12:27] vwxyzjn commented on #79
https://github.com/vwxyzjn/gym-microrts/issues/12#issuecomment-879058480 Please recursively clone git repo

[2022-07-22 14:25] chloebeth commented on #79
Hi, I tried this and I am still unable to run hello_world.py or pop_gridnet_eval.py. I have traced the error back to JNIGridnetVecClient.java with client initialization.

[2022-07-22 14:27] vwxyzjn commented on #79
Do you have JAVA installed? Inspect `build.log` for further detail

[2022-07-22 14:28] vwxyzjn commented on #79
Try pulling the master for better error messages. CC #80

[2022-07-22 14:32] chloebeth commented on #79
Yes I have java and the build is clean

[2022-07-22 15:04] vwxyzjn commented on #79
Could you check if there is a `microrts.jar` being built in `gym_microrts/microrts/` folder?

[2022-07-27 09:27] BFAnas opened #81 "gym.make(gym_id) not working, the env is not registered as a gym env"
Hi,

Is the environment supposed to be automatically registered as a gym env? or should the registry be done manually? Thanks!

[2022-07-27 12:22] vwxyzjn commented on #81
The latest version only ships an interface similar to gym. See

https://github.com/vwxyzjn/gym-microrts/blob/e4e11405a36044eab49d4cd2c2ed084b019bb999/hello_world.py#L10-L19

[2022-07-28 21:44] chloebeth commented on #79
hi, yes there was. i switched to an ubuntu vm and everything  works. I guess for some reason it does not run on macos

[2022-07-28 21:44] #79 closed

[2022-07-28 21:44] vwxyzjn commented on #79
Great thanks. It should till work on Mac OS but render would not work.

[2022-09-13 18:44] yanmluk opened #83 "Start the environment with a specific board state"
Hi,

I would like to query the trained agent for actions given different board state. Is it possible to start the board with a given state/configuration instead of the default state generated by envs.reset()?

[2022-09-18 00:47] #81 closed

[2022-09-18 00:49] vwxyzjn commented on #83
You can probably generate a different map. https://github.com/vwxyzjn/microrts/blob/2c8a626498b71e44beaaac9c311cd0a25b74a275/src/gui/frontend/FrontEnd.java has a GUI editor for the maps

[2022-10-18 06:11] yanmluk commented on #83
Thank you! Are there any method to access the exact resources and hit points value instead of 0,1,2,3,>=4 in the python environment?

[2022-10-25 06:32] #83 closed

[2022-11-04 14:21] vwxyzjn opened #86 "Memory leak issue that @xluox has"
@xluox

### How to reproduce

[code]